.main-section {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 7rem);
}

.person-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 2rem;
}

.person-image-container {
  display: grid;
  grid-template-columns: auto;
  position: relative;
}

.person-image-container img {
  position: relative;
  bottom: 0;
  z-index: 10;
  justify-self: flex-end;
  max-height: 45rem;
  -webkit-animation: person-animation 10s ease infinite;
          animation: person-animation 10s ease infinite;
}

@-webkit-keyframes person-animation {
  0% {transform: translateY(0) rotate(0);}
  25% {transform: translateY(-0.5rem) rotate(2deg);}
  50% {transform: translateY(-1rem) rotate(5deg);}
  75% {transform: translateY(-0.5rem) rotate(2deg);}
  100% {transform: translateY(0) rotate(0);}
}

@keyframes person-animation {
  0% {transform: translateY(0) rotate(0);}
  25% {transform: translateY(-0.5rem) rotate(2deg);}
  50% {transform: translateY(-1rem) rotate(5deg);}
  75% {transform: translateY(-0.5rem) rotate(2deg);}
  100% {transform: translateY(0) rotate(0);}
}

.shadow-span {
  width: 100%;
  max-width: 30rem;
  height: 2rem;
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  z-index: 5;
  background: radial-gradient(circle, rgba(38,28,28,0.95) 0%, rgba(38,28,28,0.8) 100%);
  border-radius: 50%;
  -webkit-animation: shadow-animation 10s ease infinite;
          animation: shadow-animation 10s ease infinite;
}

@-webkit-keyframes shadow-animation {
  0% {transform: translateX(0) scale3d(0.8, 0.8, 1);}
  25% {transform: translateX(-0.5rem) scale3d(0.9, 0.9, 1);}
  50% {transform: translateX(-1rem) scale3d(1, 1, 1);}
  75% {transform: translateX(-0.5rem) scale3d(0.9, 0.9, 1);}
  100% {transform: translateX(0) scale3d(0.8, 0.8, 1);}
}

@keyframes shadow-animation {
  0% {transform: translateX(0) scale3d(0.8, 0.8, 1);}
  25% {transform: translateX(-0.5rem) scale3d(0.85, 0.85, 1);}
  50% {transform: translateX(-1rem) scale3d(0.9, 0.9, 1);}
  75% {transform: translateX(-0.5rem) scale3d(0.85, 0.85, 1);}
  100% {transform: translateX(0) scale3d(0.8, 0.8, 1);}
}

.person-dialogue-container {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

.person-dialogue-container p {
  position: relative;
  padding: 2rem;
  font-size: var(--bigger-font-size);
  text-indent: 0.7rem;
  color: #222831;
  background-color: #f8f8f8;
  box-shadow: 0 0 0.5rem 0.5rem rgba(20,16,16,0.5), -0.4rem 0.4rem 0.5rem 0 rgba(248, 248, 248, 1);
  border-radius: 1.5rem;
  border-bottom-left-radius: 0;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.timer-container p {
  font-size: var(--timer-font-size);
  color: rgba(66, 184, 131, 0.8);
  text-align: center;
  padding: 2rem;
}