*, *::before, *::after {
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  color-scheme: dark light;
}

*{
  margin: 0;
  padding: 0;
}

body, area, menu, ul, a {
  all: unset;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(54,54,54,0.95) 0%, rgba(20,16,16,0.95) 100%);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}